{{extend 'layout.html'}}

<h1>Dependencias de Productos</h1>

<p align="right">
    <a href="{{=URL('ventas', 'dependencias_productos_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Punto de Venta</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Modo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Cód. de Barras</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Data</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Estado</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Usuario Ing.</b></center>
            </td>
        </tr>
        {{if not dependencias:}}
            <tr>
                <td colspan="8" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for dependencia in dependencias:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=dependencia.pv}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=dependencia.modo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.codbarras}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.data}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.estado}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.user_ing}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>
