{{extend 'layout.html'}}

<h1>Delivery</h1>

<p align="right">
    <a href="{{=URL('ventas', 'delivery_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Punto de Venta</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Tiempo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Número</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Cliente</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Documento</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Caract. 1</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Caract. 2</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Caract. 3</b></center>
            </td>
        </tr>
        {{if not deliveries:}}
            <tr>
                <td colspan="8" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for delivery in deliveries:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.pv}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.tiempo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.numero}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.cliente}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.docnum}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.carac1}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.carac2}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=delivery.carac3}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>
