{{extend 'layout.html'}}

<h1>Clientes Preferentes</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'clientes_preferentes_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<center>
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 10%; vertical-align: middle; border: 1px solid #999">
                    <center><b>ID Documento</b></center>
                </td>
                <td style="width: 15%; vertical-align: middle; border: 1px solid #999">
                    <center><b>Tiempo</b></center>
                </td>
                <td style="vertical-align: middle; border: 1px solid #999">
                    <center><b>Promoción</b></center>
                </td>
                <td style="vertical-align: middle; border: 1px solid #999">
                    <center><b>Tarjeta</b></center>
                </td>
                <td style="vertical-align: middle; border: 1px solid #999">
                    <center><b>Usuario Ing.</b></center>
                </td>
            </tr>
            {{if not clientes:}}
                <tr>
                    <td colspan="5" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                        <center>No hay registros</center>
                    </td>
                </tr>
            {{else:}}
                {{for cliente in clientes:}}
                    <tr>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=cliente.doc_id}}
                        </td>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=cliente.tiempo}}
                        </td>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=cliente.promocion}}
                        </td>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=cliente.tarjeta}}
                        </td>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=cliente.user_ing}}
                        </td>
                    </tr>
                {{pass}}
            {{pass}}
            
        </tbody>
    </table>
</center>
