{{extend 'layout.html'}}

<h1>Condiciones Comerciales</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'condiciones_comerciales_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Condición</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Modo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Descripción</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Código</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Días</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Posición</b></center>
            </td>
        </tr>
        {{if not condiciones:}}
            <tr>
                <td colspan="6" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for condicion in condiciones:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.condicion}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.modo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.descripcion}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.codigo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.dias}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=condicion.posicion}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>

