{{extend 'layout.html'}}

<h1>Directorio</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'directorio_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Modo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Razón Social</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Nombre Corto</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Rubro</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Nombres</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Apellidos</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Tipo Documento</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>ID Documento</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>País</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Ubigeo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Dirección</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Código Postal</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Referencia</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Condición</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Días a Pagar</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Intervalo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Interés</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Línea Crédito</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Fecha</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Representante Legal</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Cargo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Sexo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Preferente</b></center>
            </td>
        </tr>
        {{if not directorios:}}
            <tr>
                <td colspan="11" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for directorio in directorios:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.modo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.razon_social}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.nombre_corto}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.rubro}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.nombres}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.apellidos}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.tipo_doc}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.doc_id}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.pais}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.ubigeo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.direccion}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.codigo_postal}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.referencia}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.condicion}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.tiempo_cred}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.intervalo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.interes}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.linea_credito}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.fecha}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.representante_legal}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.cargo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.sexo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=directorio.preferente}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>

