{{extend 'layout.html'}}

<h1>Documentos de Identidad</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'doc_identidad_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<center>
    <table style="text-align: left; width: 40%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="vertical-align: middle; border: 1px solid #999">
                    <center><b>Nombre</b></center>
                </td>
            </tr>
            {{if not documentos:}}
                <tr>
                    <td colspan="16" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                        <center>No hay registros</center>
                    </td>
                </tr>
            {{else:}}
                {{for documento in documentos:}}
                    <tr>
                        <td style="vertical-align: top; border: 1px solid #999">
                            {{=documento.nombre}}
                        </td>
                    </tr>
                {{pass}}
            {{pass}}
            
        </tbody>
    </table>
</center>

