{{extend 'layout.html'}}

<h1>Configuración</h1>
</br>

<ul>
    <li><h3>General</h3></li>
    <ul>
        <li>Tipo de Cambio (<a href="{{=URL('configuracion', 'tipo_cambio')}}" style="text-decoration:none">
                            Ver
                            </a>
                            /
                            <a href="{{=URL('configuracion', 'tipo_cambio_agregar')}}" style="text-decoration:none">
                            Agregar
                            </a>
                            )
        </li>
    </ul>
</ul>
