{{extend 'layout.html'}}

<h1>Recetas</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'recetas_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Código Padre</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Código Hijo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Cantidad</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Modo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Estado</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Orden</b></center>
            </td>
        </tr>
        {{if not recetas:}}
            <tr>
                <td colspan="6" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for receta in recetas:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.codbarras_padre}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.codbarras_hijo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.cantidad}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.modo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.estado}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=receta.orden}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>

