{{extend 'layout.html'}}

<h1>Unidades de Medida</h1>

<p align="right">
    <a href="{{=URL('configuracion', 'unidades_medida_agregar')}}">
        <input type="submit" value="Agregar" style="font-size:10pt" name="">
    </a>
</p>
</br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Código</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Descripción</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Modo</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Abrev. Origen</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Abrev. Destino</b></center>
            </td>
            <td style="vertical-align: middle; border: 1px solid #999">
                <center><b>Factor</b></center>
            </td>
        </tr>
        {{if not unidades:}}
            <tr>
                <td colspan="6" rowspan="1" style="vertical-align: top; border: 1px solid #999">
                    <center>No hay registros</center>
                </td>
            </tr>
        {{else:}}
            {{for unidad in unidades:}}
                <tr>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.codigo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.descripcion}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.modo}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.abreviatura_origen}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.abreviatura_destino}}
                    </td>
                    <td style="vertical-align: top; border: 1px solid #999">
                        {{=unidad.factor}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
        
    </tbody>
</table>

